body {
  padding-top: 50px;
}

.about {
  padding: 40px 15px;
  text-align: center;
}

.nowrap {
	white-space:nowrap;
}

.center-block {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

img.center-block {
	max-width: 900px;
}